[submodule "_build/alexandria"]
	path = _build/alexandria
	url = https://gitlab.common-lisp.net/alexandria/alexandria.git
    shallow = true
[submodule "_build/cl-json"]
	path = _build/cl-json
	url = https://github.com/hankhero/cl-json
    shallow = true
[submodule "_build/lisp-unit2"]
	path = _build/lisp-unit2
	url = https://github.com/AccelerationNet/lisp-unit2
    shallow = true
[submodule "_build/iterate"]
	path = _build/iterate
	url = https://gitlab.common-lisp.net/iterate/iterate.git
    shallow = true
[submodule "_build/cl-interpol"]
	path = _build/cl-interpol
	url = https://github.com/edicl/cl-interpol
[submodule "_build/named-readtables"]
	path = _build/named-readtables
	url = https://github.com/melisgl/named-readtables
[submodule "_build/cl-unicode"]
	path = _build/cl-unicode
	url = https://github.com/edicl/cl-unicode
